.back-img{
    line-height: 1.2;
    height: 100%;
    background: #242830 url(https://www.nulldata.com/img/banner02.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}
.home-sty{
    opacity: 0.50;
    background-color: #252629;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.text-home{
    margin: 25%;
    color: white;
}